NEXT_PUBLIC_SITE_URL=https://locapto.com
INDEX_MUNICIPALITY_ACTIVITIES=true
GOOGLE_SHEETS_WEBHOOK_URL=
GOOGLE_SHEETS_WEBHOOK_SECRET=
ZOHO_SMTP_HOST=smtppro.zoho.eu
ZOHO_SMTP_PORT=465
ZOHO_SMTP_USER=victor@locapto.com
ZOHO_SMTP_PASSWORD=
ZOHO_FROM_EMAIL="Locapto <victor@locapto.com>"
ZOHO_REPLY_TO=victor@locapto.com
EMAIL_CONFIRMATION_SECRET=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_LINKEDIN_PARTNER_ID=
